@import "tailwindcss";

@layer base{
    :root{
      --background:oklch(61.108% 0.16249 252.602);
      --primary:oklch(45.648% 0.24309 298.94);
      --primary-btn: oklch(62.7% 0.265 303.9);
      --primary-btn-hover:oklch(49.6% 0.265 301.924);

      --secondary-btn:oklch(62.7% 0.194 149.214);
      --secondary-btn-hover:oklch(79.2% 0.209 151.711);

      --btn-radius:1rem;

    }

    .dark{
      --background:oklch(12.9% 0.042 264.695);

    }
}

@layer components {

    .btn-primary{
         @apply bg-[var(--primary-btn)] rounded-[var(--btn-radius)] text-white hover:bg-[var(--primary-btn-hover)] cursor-pointer 
    }

    .btn-secondary{
         @apply bg-[var(--secondary-btn)] rounded-[var(--btn-radius)] text-white hover:bg-[var(--secondary-btn-hover)] cursor-pointer 
    }


}